<!DOCTYPE html>
<html>
<head>
  <style>
    .header {
      padding-top: 8px;
      margin: 0px;
      text-align: center;
      color: #63aba8;
      font-family: "verdana";
    }
    
    .mturk-id {
      display: table;
      margin: auto;
      margin-top: 50px;
	  text-align: center;
    }

    .mturk-id input {
      margin-top: 5px;
    }

    #phrase {
      display: none;
    }
  </style>
  <title>Do you Google?</title>
</head>
<body style="background-color: #f2f2f2">
  <h1 class="header">Thank you for playing!</h1>
  <h2 class="header">You scored {{ score }} points!</h2>
  {% for datum in top_five %}
	<p>{{datum.1}}: {{datum.0}}</p>
  {% endfor %}
</body>