<!DOCTYPE html>
<html>
<head>
  <style>
    .header {
      padding-top: 8px;
      margin: 0px;
      text-align: center;
      color: #63aba8;
      font-family: "verdana";
    }
    
    .mturk-id {
      display: table;
      margin: auto;
      margin-top: 50px;
	  text-align: center;
    }

    .mturk-id input {
      margin-top: 5px;
    }

    #phrase {
      display: none;
    }
  </style>
  <title>Search Result Survey</title>
</head>
<body style="background-color: #f2f2f2">
<h1 class="header">Thank you!</h1>
  
<div class="mturk-id">
  <p>Thank you for taking this survey. Your participation is now complete.</p>
  <form action='../thanks{{ respondent_id }}/' id='main_form' method='get'>	
    <label for="mturk-id">Please enter your <b>MTurk Worker ID</b> below:</label><br>
    <input type="text" name="mturk_id">
    <input type="submit" id="submit" value="submit">
  </form>
  <div id="phrase">
    <p>Please enter DF45ST6X in your HIT in MTurk to receive credit.</p>
  </div>
</div>

</body>
</html>
